@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "主页";
}

<h2 style="text-align:center;margin-bottom:70px">主页</h2>

<hr />
<p>
    @Html.ActionLink("账户列表", "Index", "People")|
    @Html.ActionLink("商品列表", "Index", "Goods")
</p>