
@{
    ViewBag.Title = "提示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom:70px">提示</h2>

<hr />

<h4 style="text-align:center;margin-top:30px">
    @ViewBag.Info
</h4>


<hr />
<p style="text-align:center">
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("返回主页", "Index")</button>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("去登录", "Login")</button>
</p>
