
@{
    ViewBag.Title = "info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Log Out</h2>


<h4 style="text-align:center;margin-top:30px">
    @ViewBag.Info
</h4>


<hr />
<p style="text-align:center">
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Back to Home", "Index")</button>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Back to Login", "Login")</button>    
</p>
