
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Operation Index</h2>


@if (Session["CurrentUserId"] == null || Session["CurrentUserIsAdminister"] == null)
{
    <hr />
    <p style="text-align:center">
        <a href="~/Home/Login" class="btn btn-default">Please Login Before operation</a>
    </p>
}
else
{
    <hr />
    <p style="text-align:center">
        <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Borrow", "Borrow")</button>
        <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Return", "Return")</button>
        <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Consumption", "Consumption")</button>
        <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Search", "Search")</button>
    </p>
}
